*{
    margin: 0;
    padding: 0;
    background-color: white;
}

.text{
    position: relative;
    padding-bottom: 50px;
    left: 1100px;
    color: black;
}

.title{
    position: relative;
    left: 1160px;
}